<?xml version='1.0' encoding='UTF-8'?>
<launch>
  <param command="$(find xacro)/xacro.py '$(find iri_wam_description)/xacro/iri_wam.urdf.xacro'" name="robot_description" />
  <node args="-urdf -model iri_wam -param robot_description -x -0.08 -y -0.09 -z 0.785" name="urdf_spawner" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model" />
  <include file="$(find iri_wam_gazebo)/launch/iri_wam_control.launch" />
</launch>
