<?xml version="1.0"?>
<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <include file="$(find carbot_control)/launch/carbot_control.launch">
    <arg name="use_rviz" value="false"/>
    <arg name="use_joy" value="false"/>
    <arg name="use_command_to_joint_state" value="false"/>
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
      args="-urdf -model carbot -param robot_description -x -0 -z 0.5"/>

</launch>