<?xml version="1.0"?>
<launch>

  <!-- roslaunch arguments -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>

  <!-- summit_xl_control launch file -->
  <include file="$(find summit_xl_control)/launch/summit_xl_control.launch" />

  <!-- launch robot control -->
  <include file="$(find summit_xl_robot_control)/launch/summit_xl_robot_control.launch" />

  <!-- launch pad -->
  <!-- <include file="$(find summit_xl_pad)/launch/summit_xl_pad.launch" /> -->

  <!-- Load the URDF into the ROS Parameter Server -->
  <!-- <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find summit_xl_description)/robots/summit_xl.urdf.xacro'" /> -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find sumit_xl_tools)/robots/summit_xl_theconstruct.urdf.xacro'" />

  <!-- Call a python script to the run a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model summit_xl -param robot_description"/>

</launch>
