<?xml version="1.0"?>

<model>
  <name>Traffic Light</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfost@theconstructsim.com</email>
  </author>

  <description>
    Trffic light extacted from: https://www.blendswap.com/blend/15414, https://www.blendswap.com/blend/5591
  </description>

</model>
