<?xml version="1.0" ?>
<model>
    <name>golf_circuit</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
    Extracted from https://3dwarehouse.sketchup.com/model/63777e48-21a1-488d-8dd4-109530fcffb9/Golf-Course

    </description>
</model>
