<?xml version="1.0"?>

<model>
  <name>eight road</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfros@hecosntructsim.com</email>
  </author>

  <description>
    Road with double lane and eight shape adated for turtlebot3 size and increased length.
  </description>

</model>
