<?xml version="1.0"?>

<model>
  <name>Pedestrian</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Miguel Angel Rodriguez</name>
    <email>duckfost@theconstructsim.com</email>
  </author>

  <description>
    Pedestrian, model extracted from : https://www.blendswap.com/blend/4218, https://www.blendswap.com/blend/18390, https://www.blendswap.com/blend/22760
  </description>

</model>
